@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,500&display=swap");

// VARIABLES
$mainFont: "Raleway", sans-serif;
$sublineFont: "Crimson Text", serif;
$primary: #1f1f1f;
$accents: #b7a379;
$lightGray: #f3f3f3;
$borderColor: #b9b9b9;
$fontLight: #6b6b6b;
$sectionPadding: 80px 0;
$spacer: 25px;
$fontSize: 16px;
$transition: 0.4s all ease-in-out;

// MINIXS
@mixin btn(
	$background,
	$backgroundHover,
	$color,
	$colorHover,
	$border,
	$borderHover
) {
	padding: 15px 30px;
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: $background;
	transition: $transition;
	border: 1px solid $border;
	color: $color;
	&:hover {
		background-color: $backgroundHover;
		color: $colorHover;
		border: 1px solid $borderHover;
	}
}
<<<<<<< HEAD
@mixin btn2 {
	padding: 1rem 1.5rem;
	font-size: 0.85rem;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	margin: 5em auto;
	border: none;
	background-color: transparent;
	position: relative;
	&::after,
	&::before {
		content: "";
		position: absolute;
		width: 20%;
		height: 20%;
		border: 2px solid $primary;
		transition: 0.5s ease;
	}
	&::before {
		top: 0;
		left: 0;
		border-bottom-color: transparent;
		border-right-color: transparent;
	}
	&::after {
		bottom: 0;
		right: 0;
		border-top-color: transparent;
		border-left-color: transparent;
	}
	&:hover {
		&::after,
		&::before {
			width: 103%;
			height: 103%;
		}
	}
=======
@mixin btn2($border-clr) {
  padding: 1rem 1.5rem;
  font-size: 0.85rem;
  font-family: $mainFont;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  margin: 5em auto;
  border: none;
  background-color: transparent;
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid $border-clr;
    transition: 0.5s ease;
  }
  &::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  &::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &:hover {
    &::after,
    &::before {
      width: 105%;
      height: 108%;
    }
  }
>>>>>>> fc33f26fe6090a7668e903625d862db43ab0a285
}
@mixin container {
	width: calc(min(1140px, 90%));
	margin: auto;
}

// GENERALS
<<<<<<< HEAD
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
=======
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> fc33f26fe6090a7668e903625d862db43ab0a285
}
body {
	font-family: $mainFont;
	font-size: 16px;
	scroll-behavior: smooth;
}
body {
	position: relative;
}
.subtitle {
	font-family: $sublineFont;
	font-size: $fontSize;
	font-style: italic;
}
section {
	padding: $sectionPadding;
	text-align: center;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
h2 {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	position: relative;
	&::after {
		bottom: 0;
		margin: -10px 0;
		right: 50%;
		transform: translateX(50%);
		content: "";
		position: absolute;
		border-bottom: 5px solid #2f6b78;
		width: 2em;
	}
}
h3 {
	font-size: 1.4rem;
	text-transform: uppercase;
}
h4 {
  font-size: 1.6rem;
  color: $primary;
}
p {
	color: $fontLight;
	line-height: 1.5;
}

// GRID

$columns: 12;

@for $i from 1 through $columns {
	.col-#{$i} {
		flex: 0 0 100% / $columns * $i;
	}

	.col-offset-#{$i} {
		margin-left: 100% / $columns * $i;
	}
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

// HEADER
header {
<<<<<<< HEAD
	display: flex;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: transparentize($primary, 0.7);
		z-index: 0;
	}
	nav {
		margin-top: auto;
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 0 10rem;
		background-color: $primary;
		height: auto;
		display: flex;
		align-items: center;
		.logo {
			flex: 0 0 30%;
			img {
				width: 50px;
			}
		}
		ul {
			flex-grow: 1;
			display: flex;
			justify-content: space-evenly;
			li {
				padding: 15px 40px;
				position: relative;
				overflow: hidden;
				a {
					font-size: 1rem;
					color: $lightGray;
					letter-spacing: 1.5px;
				}
				&::after {
					content: "";
					position: absolute;
					box-sizing: border-box;
					width: 100%;
					bottom: 0;
					left: 0;
					transform: scaleY(0);
					transform-origin: bottom;
					opacity: 0;
					border-bottom: 5px solid #2f6b78;
					transition: 0.5s ease;
				}
				&:hover {
					background-color: $lightGray;
					a {
						color: $primary;
					}
					&::after {
						transform: scale(1.2);
						opacity: 1;
					}
				}
			}
			> * + * {
				margin-left: 3rem;
			}
		}
		&.fixed-nav {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	.slider-container {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.16);
		height: 70vh;
		width: 70vw;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		overflow: hidden;
		.slide {
			opacity: 0;
			height: 100vh;
			width: 100vw;
			background-position: center;
			background-size: cover;
			position: absolute;
			text-align: center;
			top: -15vh;
			left: -15vw;
			z-index: 1;
			transition: 0.5s ease-in;
			&.active {
				opacity: 1;
				p {
					opacity: 1;
				}
			}
			p {
				position: absolute;
				z-index: 2;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 3.5rem;
				text-transform: uppercase;
				text-shadow: 2px 2px 8px black;
				color: #fff;
				letter-spacing: 2px;
				font-weight: 600;
				opacity: 0;
				transition: 0.5s ease-in;
			}
		}
		.arrow {
			position: inherit;
			background-color: transparent;
			padding: 20px;
			border: none;
			color: $borderColor;
			z-index: 2;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			img {
				height: 40px;
			}
			&.right-arrow {
				left: calc(70vw - 80px);
			}
			&.left-arrow {
				right: calc(70vw - 80px);
			}
			&:hover {
				border: 1px solid $borderColor;
			}
		}
	}
=======
  display: flex;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparentize($primary, 0.4);
    z-index: 0;
  }
  nav {
    margin-top: auto;
    position: relative;
    z-index: 11;
    width: 100%;
    padding: 0 10rem;
    background-color: $primary;
    height: auto;
    display: flex;
    align-items: center;
    .logo {
      flex: 0 0 30%;
      img {
        width: 50px;
      }
    }
    ul {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      li {
        padding: 15px 40px;
        position: relative;
        // overflow: hidden;
        a {
          font-size: 1rem;
          color: $lightGray;
          letter-spacing: 1.5px;
        }
        &::after {
          content: "";
          position: absolute;
          //   box-sizing: border-box;
          width: 100%;
          bottom: 0;
          left: 0;
          transform: scaleY(0);
          transform-origin: bottom;
          opacity: 0;
          border-bottom: 5px solid #2f6b78;
          transition: 0.5s ease;
        }
        &:hover {
          background-color: $lightGray;
          a {
            color: $primary;
          }
          &::after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
      > * + * {
        margin-left: 3rem;
      }
    }
    &.fixed-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.2);
    height: 70vh;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    .slide {
      opacity: 0;
      height: 100vh;
      width: 100vw;
      background-position: center;
      background-size: cover;
      position: absolute;
      text-align: center;
      top: -15vh;
      left: -15vw;
      z-index: 1;
      transition: 0.5s ease-in;
      &.active {
        opacity: 1;
        p {
          opacity: 1;
        }
      }
      p {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        text-transform: uppercase;
        text-shadow: 3px -3px 4px black;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
        opacity: 0;
        transition: 0.5s ease-in;
      }
    }
    .arrow {
      position: inherit;
      background-color: transparent;
      padding: 20px;
      border: none;
      color: $borderColor;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      img {
        height: 40px;
      }
      &.right-arrow {
        left: calc(70vw - 80px);
      }
      &.left-arrow {
        right: calc(70vw - 80px);
      }
      &:hover {
        border: 1px solid $borderColor;
      }
    }
  }
>>>>>>> fc33f26fe6090a7668e903625d862db43ab0a285
}

// INTRO
.intro {
<<<<<<< HEAD
	@include container();
	&__lead {
		font-style: italic;
		margin-top: 30px;
		font-size: 1.2rem;
	}
	&__text {
		columns: 3;
		margin-top: 50px;
		h3 {
			margin-bottom: 20px;
		}
	}
	&__cta {
		@include btn2();
	}
}
// QOUTE
.quote {
	height: 50vh;
	background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)),
		url(https://source.unsplash.com/random);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: grid;
	place-items: center;
	&__text {
		font-family: $sublineFont;
		color: $lightGray;
		font-size: 3rem;
	}
=======
  @include container();
  &__lead {
    font-style: italic;
    margin-top: 30px;
    font-size: 1.2rem;
  }
  &__text {
    columns: 3;
    margin-top: 50px;
    h3 {
      margin-bottom: 20px;
    }
  }
  &__cta {
    @include btn2($primary);
  }
}
// QOUTE
.quote {
  height: 50vh;
  background-image: linear-gradient(rgba($primary, 0.6), rgba($primary, 0.6)),
    url(https://source.unsplash.com/atsUqIm3wxo);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  &__text {
    font-family: $sublineFont;
    color: $lightGray;
    font-size: 3rem;
  }
>>>>>>> fc33f26fe6090a7668e903625d862db43ab0a285
}
// SERVICES
.services {
	@include container();
	&__lead {
		@extend .intro__lead;
	}
	&__text {
		@extend .intro__text;
		img {
			margin: 20px;
			height: 50px;
		}
	}
}
// PROJECTS
.work {
<<<<<<< HEAD
	background: $primary;
	h2 {
		color: #fff;
	}
	&__lead {
		@extend .intro__lead;
	}
	&__items {
		@include container();
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30px;
		.item {
			background-image: url(https://source.unsplash.com/random);
			background-position: top left;
			background-size: cover;
			margin: 1rem;
			width: 250px;
			height: 200px;
			border: 1px solid black;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			h4 {
				margin: 40px 0 10px;
				color: #fff;
				letter-spacing: 1px;
			}
=======
  background: $primary;
  h2 {
    color: #fff;
  }
  &__lead {
    @extend .intro__lead;
  }
  &__items {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    .item {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)),
        url(https://source.unsplash.com/KieCLNzKoBo);
      background-position: center;
      background-size: cover;
      margin: 1rem;
      width: 250px;
      height: 200px;
      border: 1px solid black;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      h4 {
        margin: 40px 0 10px;
        color: #fff;
        letter-spacing: 1px;
        font-size: 1.3rem;
      }
>>>>>>> fc33f26fe6090a7668e903625d862db43ab0a285

			&::after {
				content: "LIVE PREVIEW";
				letter-spacing: 3px;
				font-weight: 600;
				font-size: 0.8rem;
				color: white;
				display: grid;
				place-items: end;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(120%);
				width: 100%;
				height: 100%;
				background: linear-gradient(
					rgba(black, 0),
					rgba(black, 0.8),
					rgba(black, 1)
				);
				opacity: 0;
				transition: all 0.5s ease;
				// cubic-bezier(1, 0.01, 0.45, 1.72);
				// transform-origin: bottom;
			}
			&:hover {
				&::after {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}
// NEWS

.news {
	&__lead {
		@extend .intro__lead;
	}
}

// contact

.contact {
	background-image: url(img/contact_bg.jpg);
	background-size: cover;
	background-position: center;
	h2 {
		color: $lightGray;
	}
	&__lead {
		@extend .intro__lead;
		color: $lightGray;
	}
	.row {
		background-color: rgba($primary, 0.8);
		@include container();

		justify-content: space-between;
		flex-wrap: wrap;
		transition: $transition;

		.office {
			color: $lightGray;
			cursor: pointer;
			display: inline-block;
			padding: 10px;
			transition: $transition;
			font-size: 1.2rem;
			text-transform: none;

			min-width: 170px;

			&:hover {
				background-color: lighten($primary, 10%);
			}
			&.active_office {
				background-color: lighten($primary, 10%);
			}
		}
		&:first-child {
			margin-top: 50px;
		}

		.col-4 {
			transform: translateX(-300%);
			transition: $transition;
			h3 {
				color: $lightGray;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 10px;
			}
			a {
				color: $lightGray;
			}
			address {
				font-style: normal;
				color: $lightGray;

				&:nth-child(2) {
					color: $fontLight;
					margin-bottom: 10px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
			&.moveBack {
				transform: translateX(0);
			}
		}
		.col-12 {
			background-color: darken($primary, 30%);
			width: 100%;

			.maps {
				iframe {
					width: 100%;
					margin: 0 auto;
					display: none;

					&.showMap {
						display: block;
					}
				}
			}
		}
		&.zagreb,
		&.beograd {
			max-height: 0;
			overflow: hidden;

			transition: $transition;
			&.map_open {
				min-height: 650px;
			}
		}
	}
}

footer {
	background-color: darken($primary, 5%);
	color: $lightGray;
	.bottom_line {
		background-color: $primary;
		text-align: center;
		padding: 50px 0;
		.socials {
			display: flex;
			justify-content: center;
			align-items: center;
			.social_icon {
				width: 45px;
				height: 45px;
				line-height: 45px;
				transition: $transition;
				color: $borderColor;
				font-size: 1.2rem;
				background-color: lighten($primary, 5%);
				margin: 30px 8px;

				&:hover {
					background-color: $accents;
					color: $lightGray;
				}
			}
		}
	}
}

// TEAM
.team {
  &__lead {
    @extend .intro__lead;
    padding-bottom: 50px;
  }
  @include container();
  .item {
    cursor: pointer;
    &:hover {
      background: linear-gradient(black, 0.5);
    }
  }
}

// POPUP
.popup {
  display: none;
  &.active {
    padding: 80px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    display: grid;
    place-items: center;
    h4 {
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    .popup__desc {
      @include container();
      display: flex;
      justify-content: space-around;
      height: 60vh;

      .img {
        flex: 0 0 40%;

        margin-bottom: auto;
        img {
          width: 100%;
        }
      }
      .info {
        flex: 0 0 40%;
        margin-top: auto;
        color: black;
        .popup__position {
          // font-style: italic;
          @extend .intro__lead;
          font-size: 1.5rem;
          margin-bottom: 60px;
          text-align: center;
        }
      }
    }
    #close {
      font-size: 2rem;
      position: inherit;
      top: 10%;
      right: 20%;
      cursor: pointer;
    }
  }
}

// CTA
.cta {
  background-color: $primary;
  p:first-of-type {
    color: $lightGray;
    font-size: 2.5rem;
    font-family: $sublineFont;
    background-color: $primary;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-top: 2px solid $lightGray;
      width: 150px;
      margin: 0 0.8em;
      position: relative;
      top: -0.6rem;
    }
  }
  p:last-of-type {
    color: $lightGray;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  button {
    @include btn2($lightGray);
    color: $lightGray;
    margin-bottom: 0;
  }
}

// REVIEWS
.reviews {
  background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)),
    url(https://source.unsplash.com/ZpE2gobovro);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  h2 {
    color: $lightGray;
    &::after {
      display: none;
    }
  }
  &__text {
    color: $lightGray;
    font-family: $sublineFont;
    font-size: 2rem;
    margin-top: 50px;
  }
  &__per {
    color: $lightGray;
    font-family: $mainFont;
    margin-top: 30px;
    font-size: 1.5rem;
  }
}
