@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  position: relative; }

.subtitle {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-style: italic; }

section {
  padding: 80px 0;
  text-align: center; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative; }
  h2::after {
    bottom: 0;
    margin: -10px 0;
    right: 50%;
    transform: translateX(50%);
    content: "";
    position: absolute;
    border-bottom: 5px solid #2f6b78;
    width: 2em; }

h3 {
  font-size: 1.4rem;
  text-transform: uppercase; }

h4 {
  font-size: 1.6rem;
  color: #1f1f1f; }

p {
  color: #6b6b6b;
  line-height: 1.5; }

.col-1 {
  flex: 0 0 8.3333333333%; }

.col-offset-1 {
  margin-left: 8.3333333333%; }

.col-2 {
  flex: 0 0 16.6666666667%; }

.col-offset-2 {
  margin-left: 16.6666666667%; }

.col-3 {
  flex: 0 0 25%; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  flex: 0 0 33.3333333333%; }

.col-offset-4 {
  margin-left: 33.3333333333%; }

.col-5 {
  flex: 0 0 41.6666666667%; }

.col-offset-5 {
  margin-left: 41.6666666667%; }

.col-6 {
  flex: 0 0 50%; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  flex: 0 0 58.3333333333%; }

.col-offset-7 {
  margin-left: 58.3333333333%; }

.col-8 {
  flex: 0 0 66.6666666667%; }

.col-offset-8 {
  margin-left: 66.6666666667%; }

.col-9 {
  flex: 0 0 75%; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  flex: 0 0 83.3333333333%; }

.col-offset-10 {
  margin-left: 83.3333333333%; }

.col-11 {
  flex: 0 0 91.6666666667%; }

.col-offset-11 {
  margin-left: 91.6666666667%; }

.col-12 {
  flex: 0 0 100%; }

.col-offset-12 {
  margin-left: 100%; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

header {
  display: flex;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.6);
    z-index: 0; }
  header nav {
    margin-top: auto;
    position: relative;
    z-index: 11;
    width: 100%;
    padding: 0 10rem;
    background-color: #1f1f1f;
    height: auto;
    display: flex;
    align-items: center; }
    header nav .logo {
      flex: 0 0 30%; }
      header nav .logo img {
        width: 50px; }
    header nav ul {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly; }
      header nav ul li {
        padding: 15px 40px;
        position: relative; }
        header nav ul li a {
          font-size: 1rem;
          color: #f3f3f3;
          letter-spacing: 1.5px; }
        header nav ul li::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          transform: scaleY(0);
          transform-origin: bottom;
          opacity: 0;
          border-bottom: 5px solid #2f6b78;
          transition: 0.5s ease; }
        header nav ul li:hover {
          background-color: #f3f3f3; }
          header nav ul li:hover a {
            color: #1f1f1f; }
          header nav ul li:hover::after {
            transform: scale(1);
            opacity: 1; }
      header nav ul > * + * {
        margin-left: 3rem; }
    header nav.fixed-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; }
  header .slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.2);
    height: 70vh;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden; }
    header .slider-container .slide {
      opacity: 0;
      height: 100vh;
      width: 100vw;
      background-position: center;
      background-size: cover;
      position: absolute;
      text-align: center;
      top: -15vh;
      left: -15vw;
      z-index: 1;
      transition: 0.5s ease-in; }
      header .slider-container .slide.active {
        opacity: 1; }
        header .slider-container .slide.active p {
          opacity: 1; }
      header .slider-container .slide p {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        text-transform: uppercase;
        text-shadow: 3px -3px 4px black;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
        opacity: 0;
        transition: 0.5s ease-in; }
    header .slider-container .arrow {
      position: inherit;
      background-color: transparent;
      padding: 20px;
      border: none;
      color: #b9b9b9;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
      header .slider-container .arrow img {
        height: 40px; }
      header .slider-container .arrow.right-arrow {
        left: calc(70vw - 80px); }
      header .slider-container .arrow.left-arrow {
        right: calc(70vw - 80px); }
      header .slider-container .arrow:hover {
        border: 1px solid #b9b9b9; }

.intro {
  width: calc(min(1140px, 90%));
  margin: auto; }
  .intro__lead, .services__lead, .work__lead, .news__lead, .news .owl-carousel .item__lead, .contact__lead, .team__lead, .popup.active .popup__desc .info .popup__position {
    font-style: italic;
    margin-top: 30px;
    font-size: 1.2rem; }
  .intro__text, .services__text {
    columns: 3;
    margin-top: 50px; }
    .intro__text h3, .services__text h3 {
      margin-bottom: 20px; }
  .intro__cta {
    padding: 1rem 1.5rem;
    font-size: 0.85rem;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    margin: 5em auto;
    border: none;
    background-color: transparent;
    position: relative; }
    .intro__cta::after, .intro__cta::before {
      content: "";
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid #1f1f1f;
      transition: 0.5s ease; }
    .intro__cta::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent; }
    .intro__cta::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent; }
    .intro__cta:hover::after, .intro__cta:hover::before {
      width: 105%;
      height: 108%; }

.quote {
  height: 50vh;
  background-image: linear-gradient(rgba(31, 31, 31, 0.6), rgba(31, 31, 31, 0.6)), url(https://source.unsplash.com/atsUqIm3wxo);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center; }
  .quote__text {
    font-family: "Crimson Text", serif;
    color: #f3f3f3;
    font-size: 3rem; }

.services {
  width: calc(min(1140px, 90%));
  margin: auto; }
  .services__text img {
    margin: 20px;
    height: 50px; }

.work {
  background: #1f1f1f; }
  .work h2 {
    color: #fff; }
  .work__items {
    width: calc(min(1140px, 90%));
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px; }
    .work__items .item {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://source.unsplash.com/KieCLNzKoBo);
      background-position: center;
      background-size: cover;
      margin: 1rem;
      width: 250px;
      height: 200px;
      border: 1px solid black;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .work__items .item h4 {
        margin: 40px 0 10px;
        color: #fff;
        letter-spacing: 1px;
        font-size: 1.3rem; }
      .work__items .item::after {
        content: "LIVE PREVIEW";
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 0.8rem;
        color: white;
        display: grid;
        place-items: end;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(120%);
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), black);
        opacity: 0;
        transition: all 0.5s ease; }
      .work__items .item:hover::after {
        opacity: 1;
        transform: translateY(0); }

.news .news__lead {
  margin-bottom: 50px; }
.news .owl-carousel {
  width: 80%;
  margin: 0 auto; }
  .news .owl-carousel .item {
    padding: 0 20px; }
    .news .owl-carousel .item__lead {
      margin: 10px 0; }
    .news .owl-carousel .item .item_text {
      padding: 20px;
      background-color: #f3f3f3; }
      .news .owl-carousel .item .item_text a {
        color: #6b6b6b;
        margin-top: 15px;
        display: inline-block; }

.contact {
  background-image: url(img/contact_bg.jpg);
  background-size: cover;
  background-position: center; }
  .contact h2 {
    color: #f3f3f3; }
  .contact__lead {
    color: #f3f3f3; }
  .contact .row {
    background-color: rgba(31, 31, 31, 0.8);
    width: calc(min(1140px, 90%));
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.4s all ease-in-out; }
    .contact .row .office {
      color: #f3f3f3;
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      transition: 0.4s all ease-in-out;
      font-size: 1.2rem;
      text-transform: none;
      min-width: 170px; }
      .contact .row .office:hover {
        background-color: #393939; }
      .contact .row .office.active_office {
        background-color: #393939; }
    .contact .row:first-child {
      margin-top: 50px; }
    .contact .row .col-4 {
      transform: translateX(-300%);
      transition: 0.4s all ease-in-out; }
      .contact .row .col-4 h3 {
        color: #f3f3f3;
        margin-bottom: 10px; }
      .contact .row .col-4 p {
        margin-bottom: 10px; }
      .contact .row .col-4 a {
        color: #f3f3f3; }
      .contact .row .col-4 address {
        font-style: normal;
        color: #f3f3f3; }
        .contact .row .col-4 address:nth-child(2) {
          color: #6b6b6b;
          margin-bottom: 10px; }
        .contact .row .col-4 address:last-child {
          margin-bottom: 0; }
      .contact .row .col-4.moveBack {
        transform: translateX(0); }
    .contact .row .col-12 {
      background-color: black;
      width: 100%; }
      .contact .row .col-12 .maps iframe {
        width: 100%;
        margin: 0 auto;
        display: none; }
        .contact .row .col-12 .maps iframe.showMap {
          display: block; }
    .contact .row.zagreb, .contact .row.beograd {
      max-height: 0;
      overflow: hidden;
      transition: 0.4s all ease-in-out; }
      .contact .row.zagreb.map_open, .contact .row.beograd.map_open {
        min-height: 650px; }

footer {
  background-color: #121212;
  color: #f3f3f3; }
  footer .bottom_line {
    background-color: #1f1f1f;
    text-align: center;
    padding: 50px 0; }
    footer .bottom_line .socials {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .bottom_line .socials .social_icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
        transition: 0.4s all ease-in-out;
        color: #b9b9b9;
        font-size: 1.2rem;
        background-color: #2c2c2c;
        margin: 30px 8px; }
        footer .bottom_line .socials .social_icon:hover {
          background-color: #b7a379;
          color: #f3f3f3; }

.team {
  width: calc(min(1140px, 90%));
  margin: auto; }
  .team__lead {
    padding-bottom: 50px; }
  .team .item {
    cursor: pointer; }
    .team .item:hover {
      background: linear-gradient(black, 0.5); }

.popup {
  display: none; }
  .popup.active {
    padding: 80px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    display: grid;
    place-items: center; }
    .popup.active h4 {
      letter-spacing: 2.5px;
      text-transform: uppercase; }
    .popup.active .popup__desc {
      width: calc(min(1140px, 90%));
      margin: auto;
      display: flex;
      justify-content: space-around;
      height: 60vh; }
      .popup.active .popup__desc .img {
        flex: 0 0 40%;
        margin-bottom: auto; }
        .popup.active .popup__desc .img img {
          width: 100%; }
      .popup.active .popup__desc .info {
        flex: 0 0 40%;
        margin-top: auto;
        color: black; }
        .popup.active .popup__desc .info .popup__position {
          font-size: 1.5rem;
          margin-bottom: 60px;
          text-align: center; }
    .popup.active #close {
      font-size: 2rem;
      position: inherit;
      top: 10%;
      right: 20%;
      cursor: pointer; }

.cta {
  background-color: #1f1f1f; }
  .cta p:first-of-type {
    color: #f3f3f3;
    font-size: 2.5rem;
    font-family: "Crimson Text", serif;
    background-color: #1f1f1f; }
    .cta p:first-of-type::before, .cta p:first-of-type::after {
      content: "";
      display: inline-block;
      border-top: 2px solid #f3f3f3;
      width: 150px;
      margin: 0 0.8em;
      position: relative;
      top: -0.6rem; }
  .cta p:last-of-type {
    color: #f3f3f3;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 3.5rem;
    font-weight: bolder; }
  .cta button {
    padding: 1rem 1.5rem;
    font-size: 0.85rem;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    margin: 5em auto;
    border: none;
    background-color: transparent;
    position: relative;
    color: #f3f3f3;
    margin-bottom: 0; }
    .cta button::after, .cta button::before {
      content: "";
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid #f3f3f3;
      transition: 0.5s ease; }
    .cta button::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent; }
    .cta button::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent; }
    .cta button:hover::after, .cta button:hover::before {
      width: 105%;
      height: 108%; }

.reviews {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://source.unsplash.com/ZpE2gobovro);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .reviews h2 {
    color: #f3f3f3; }
    .reviews h2::after {
      display: none; }
  .reviews__text {
    color: #f3f3f3;
    font-family: "Crimson Text", serif;
    font-size: 2rem;
    margin-top: 50px; }
  .reviews__per {
    color: #f3f3f3;
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    font-size: 1.5rem; }

/******************
NEWS PAGES
******************/
.header.news {
  position: relative;
  height: 30vh;
  display: block;
  background: #b7a379;
  background-position: top;
  background-size: cover; }
  .header.news::before {
    display: none; }
  .header.news nav {
    margin-top: 0; }
  .header.news hgroup {
    color: #f3f3f3;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%); }
    .header.news hgroup .news__lead {
      text-align: center;
      color: #f3f3f3; }

.news_page {
  width: calc(min(1140px, 90%));
  margin: auto;
  padding-top: 40px; }
  .news_page .news_thumbnail {
    width: 80%;
    margin: 0 auto; }
    .news_page .news_thumbnail img {
      width: 100%;
      display: block; }
  .news_page .news_page_content {
    margin-top: 40px; }
    .news_page .news_page_content .news_content {
      margin-top: 20px;
      border-top: 1px solid #6b6b6b;
      padding: 20px; }
      .news_page .news_page_content .news_content p {
        margin-bottom: 20px; }
    .news_page .news_page_content .gallery {
      flex-wrap: wrap; }
      .news_page .news_page_content .gallery .col-2 {
        padding: 0 20px;
        margin-bottom: 20px;
        min-width: 150px; }
        .news_page .news_page_content .gallery .col-2 img {
          width: 100%;
          display: block; }
  .news_page .news_nav {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
    .news_page .news_nav a {
      color: #6b6b6b;
      display: inline-block;
      padding: 10px 20px;
      transition: 0.4s all ease-in-out; }
      .news_page .news_nav a:hover {
        color: #f3f3f3;
        background-color: #b7a379; }

/*# sourceMappingURL=style.css.map */
